<p-table [value]="pacientesAlta" [paginator]="true" [rows]="3">
    <ng-template pTemplate="header">
        <tr class="tr-tablas">
            <th style="border-top-left-radius: 5px;">Run/Pasaporte</th>
            <th>Nombre paciente</th>
            <th>Fecha de ingreso</th>
            <th>Estado</th>
            <th style="border-top-right-radius: 5px;"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pacientesAlta>
        <tr>
            <td>{{ pacientesAlta.run }}</td>
            <td>{{ pacientesAlta.nombres}} {{pacientesAlta.apellidos }} </td>
            <td>{{ pacientesAlta.fecha_ingreso | date:'dd-MM-yyyy' }}</td>
            <td>{{pacientesAlta.estado_paciente}}</td>
            <td>
                <button style="margin-right: 5px !important;" pButton pRipple type="button" [routerLink]="[ 'evoluciones', pacientesAlta.id]" icon="pi pi-copy" pTooltip="Ver historial" class="p-button-rounded p-button-primary p-button-outlined"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td></td>
            <td>No hay registros de pacientes.</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </ng-template>
</p-table>