<div class="panel">
    <div class="panel-cabecera">
        <div class="row">
            <div class="col mb-3">
                <app-agregar-paciente (recargarTabla)="recargarTablaPacientes()" (valorInput)="filtroTablaPacientes($event)"></app-agregar-paciente>
            </div>
            <div>
                <p-tabMenu [model]="itemsMenu" [activeItem]="menuActivo" styleClass="menu-admin"></p-tabMenu>
            </div>
        </div>
    </div>
    <br>
    <div class="panel-cuerpo">
        <div class="row">
            <app-hospitalizados *ngIf="tablaHospitalizados === true" (darDeAlta)="DarAltaPaciente($event)" [mostrarDatosTabla]="mostrarDatosTabla" [pacientes]="pacientes"></app-hospitalizados>
            <app-alta [pacientesAlta]="pacientesAlta" *ngIf="tablaAltaPacientes === true"></app-alta>
        </div>
    </div>
</div>

<p-confirmDialog acceptLabel="Si" rejectLabel="No" icon="pi pi-exclamation-triangle" key="darDeAlta"></p-confirmDialog>