
.cont-medicos{
    padding: 25px;
}

.tr-medicos th{
    background-color: #ddf9f3;
    font-weight: bold;
}

.btn-agregarMedico{
    margin-bottom: 50px;
}

.radiob{
    margin-right: 10px;
}

.select-estado{
    width: 100%;
    text-align: center;
    height: 35px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}