


.contenedor{
    background-image: url('../../assets/img/back.png');
    width: 100%;
    height: 100vh;
    padding-top: 100px;
   
}

.img{
    width: 500px;
    border-radius: 10px 0px 0px 10px;
}

.cont-login{
    background-color: white;
    width: 1000px;
    border-radius:  10px;
    box-shadow: 1px 1px 20px 5px rgba(0,0,0,0.2);
    box-shadow: 10000px;
}


.titulo{
    margin-top: 50px;
    font-size: 50px;
}

input {
    width: 300px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid #dfd8d8;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 0.17rem #2c981e31 !important;
    border-color: #2C981E !important;
    border-width: 1px;
}


/* .p-inputtext, .p-togglebutton, .p-selectbutton, .p-inputgroup {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 white !important;
  } */
  
.ingresar{
    cursor: pointer;
    background-color: #278138;
    width: 200px;
    justify-content: center;
    color: white;
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.ingresar:before{
    content: '';
    width: 100%;
    right: 0;
    height: 100%;
    position: absolute;
    background-color: #43a155;
    transition: all 0.4s;

}

.ingresar:hover:before{
    transform: translateX(200px);
}

.ingresar a{
    display: absolute;
    z-index: 1;
}

@media (max-width: 1000px) {
    .col-img{
        display: none
    }
    .cont-login{
        width: 100%;
    }
 }

 .row>*{
    padding-left: 0;
 }