<!-- <div class="fondo">
    <div class="contenedor centrado">
        <div class="row centrado contenedor-form">
            <div class="col centrado columna1"></div>
            <div class="col centrado columna2">
                <form [formGroup]="loginForm" (submit)="login()">
                    <div class="centrado">
                        <img class="logo-medio" src="../../assets/img/darwin.png" alt="">
                    </div>
                    <h2 style="text-align: center; margin-bottom: 35px;">DARWIN</h2>
                    
                    <div>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" formControlName="usuario" pInputText placeholder="Usuario">
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                            <input type="password" formControlName="password" pInputText placeholder="Contraseña">
                        </div>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</div> -->

<div class="contenedor">
    <form [formGroup]="loginForm" (submit)="login()">
        <div class="cont-login container ">
            <div class="row">
                <div class="col-6 col-img">
                    <img class="img" src="../../assets/img/fondo1.png" alt="">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="d-flex justify-content-center mt-5">
                            <img style="width: 100px;" src="../../assets/img/darwin.png" alt="">
                        </div>
                        <h1 class="titulo text-center">DARWIN</h1>
                        <div class="col-12">
                            <div class="p-inputgroup d-flex justify-content-center" style="margin-top: 50px">
                                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input pInputText formControlName="usuario" type="text" (keyup)="formatearRun()" placeholder="Usuario">
                            </div>
                            <div class="text-center">
                                <p *ngIf="errorCampoUsuario === true" style="color: #ef4444;">Por favor ingresar usuario</p>
                            </div>
                            <div class="p-inputgroup d-flex justify-content-center" style="margin-top: 20px">
                                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                                <input pInputText formControlName="password" type="password" placeholder="Contraseña">
                            </div>
                            <div class="text-center mt-3">
                                <p *ngIf="errorCampoPassword=== true" style="color: #ef4444;">Por favor ingresar contraseña</p>
                            </div>
                            <div class="text-center mt-3">
                                <p *ngIf="errorLogin === true" style="color: #ef4444;">Usuario o contraseña incorrecto</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-2">
                            <div class="ingresar text-center" (click)="login()">
                                <a>Ingresar</a>
                            </div>
                        </div>
                        <div class="text-center mb-5">
                            <br>
                            <img style="width: 300px;" src="../../assets/img/ISOLOGO_HOSPITALOVALLE.png" alt="">
                        </div>
                        <div class="text-center">
                            <p>© 2022 Unidad de Desarrollo de Software - Departamento TIC</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
 </div>
