<mat-drawer-container fullscreen [style]=background>
    <mat-drawer #side mode="side" [opened]="abrirSidenav" [style]=backgroundNav>
        <div class="row">
            <div class="col">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <!-- <p-inputSwitch (click)="modOscuro()" [(ngModel)]="nocturno" style="padding: 10px;"></p-inputSwitch>
                    <i style="font-size: 22px; margin-right: 10px; margin-bottom: 7px;" class="pi pi-moon"></i> -->
                </div>
            </div>
        </div>
        <div class="row" class="mt-5 mb-5">
            <div class="row">
                <div class="col" style="display: flex; justify-content:center;">
                    <img width="100" src="../../../assets/img/darwin.png" alt="">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col" style="display: flex; justify-content:center;">
                    <h2>{{usuario}}</h2>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mt-2" style="margin-right: 0px; margin-left: 0px; width: 100%;">
            <div class="col">
                <a [style]=navMenuNocturno routerLinkActive="activo" [routerLinkActiveOptions]="{exact:true}" routerLink="/inicio">Inicio</a>
            </div>
        </div>
        <div class="row mt-2" style="margin-right: 0px; margin-left: 0px; width: 100%;">
            <div class="col">
                <a [style]=navMenuNocturno routerLinkActive="activo" [routerLinkActiveOptions]="{exact:false}" routerLink="pacientes">Pacientes</a>
            </div>
        </div>
        <div *ngIf="rolUsuario === 1" class="row mt-2" style="margin-right: 0px; margin-left: 0px; width: 100%;">
            <div class="col">
                <a [style]=navMenuNocturno routerLinkActive="activo" [routerLinkActiveOptions]="{exact:true}" routerLink="medicos">Médicos</a>
            </div>
        </div>
        <div class="text-center" style="margin-top: 300px;">
            <img width="300" src="../../../assets/img/ISOLOGO_HOSPITALOVALLE.png" alt="">
        </div>
    </mat-drawer>
    <div class="barra-nav d-flex justify-content-between align-items-center" [style]=sidebarNocturno>
        <i (click)="side.toggle()" style="font-size: 30px; text-align:center; padding: 8px; color: #8f9c8d; margin-left: 7px; cursor: pointer;" class="boton-sidenav pi pi-bars"></i>
        <div style="padding: 6px;">
            <button (click)="cerrarSesion()" pButton type="button" class="p-button-rounded p-button-danger" icon="pi pi-power-off"></button>
        </div>
    </div>
    <div class="container" style="margin-top: 25px; padding: 10px;">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>