<div class="panel">
    <div class="panel-cabecera">
        <div class="row">
            <div class="col">
                <button pButton pRipple type="button" (click)="volverAtras()" icon="pi pi-chevron-left" label="Volver atrás" class="p-button-rounded p-button-secondary"></button>
                <h1 style="display: flex; justify-content: center;">Nueva evolución</h1>
            </div>
        </div>
    </div>
    <div class="panel-cuerpo">
        <div class="row">
            <div class="col">
                <p-steps [model]="items" [readonly]="true"></p-steps>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

